<!DOCTYPE html>
<html>

	<head>
		<title>Jamie Holdstock</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/vendor/main.css" />
		<link rel="stylesheet" type="text/css" href="css/vendor/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<link rel="shortcut icon" href="img/favicon.ico" />
		
		<!-- Script -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
        	window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
        </script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-77721271-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</head>

	<body>
		<div id="header" class="container-fluid">
			<h1>Jamie Holdstock</h1>
			<p>Software Developer</p>
		</div>

		<div id="wrapper">
			<nav id="navbar" class="navbar navbar-inverse" role="navigation" >
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li id="about" class="nav-item"><a href="{{ url("about") }}">About</a>
						<li class="dropdown">
							<a href="#" class="nav-item" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li id="hambaguette"><a href="{{ url("hambaguette") }}">Ham Baguette</a></li>
								<li id="projects"><a href="{{ url("projects") }}">Project</a></li>
							</ul>
						<li id="contact" class="nav-item"><a href="{{ url("contact") }}">Contact</a>
						</li>
					</ul>
				</div>
			</nav>

			<div id="page" class="container">
				{% block content %}{% endblock %}
			</div>

		</div>
		
		<div id="copyright">
			<p>Copyright &copy; {{ year }} Jamie Holdstock. All rights reserved.</p>
		</div>
		
		<script>
			var set = false;
			$("#navbar li").each(function() {
				if ($(location).attr('pathname') == "/"+$(this).attr("id"))
				{
					$(this).addClass("active");
					set = true
				}
			});
			if (set == false)
			{
				$("#navbar #about").addClass("active");
			}
		</script>
	</body>

</html>