<!DOCTYPE html>
<html>

	<head>
		<title>Under Construction</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/tfl.css" />

		<!-- Script -->
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-48413007-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>

	<body>

		<h1>Journey History</h1>

			<table>
				<tr><th>Date</th><th>From</th><th>To</th><th>Start</th><th>End</th><th>Cost</th><th>Duration</th></tr>
		{% for j in journeys %}
				<tr><td>{{ j.date }}</td><td>{{ j.source }}</td><td>{{ j.destination }}</td><td>{{ j.start }}</td><td>{{ j.end }}</td><td>{{ j.cost }}</td><td>{{ j.expectedDuration }}</td></tr>
		{% endfor %}
			</table>
			</br></br>

	</body>

</html>
